# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# VS Code / PyCharm settings
.vscode/
.idea/

# Data files
data/

# 本地環境變量檔案（通常含有敏感資訊）
.env

.DS_Store
